@charset "utf-8";

/*
* Note : Css styles reset
*/

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Note: for chrome better ff display */

.chrome body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 1px transparent;
  -webkit-text-stroke-width: 0.6px;
}

/* Main CSS */

html, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    vertical-align: baseline;
}
body {
  max-width: 100%;
  background-size: 80%!important;
  background: url("../images/homeBG.png") no-repeat; max-width: 100%;
  padding-top: 70px;
  font-family: 'Oswald', sans-serif; 
  font-size: 100%;
  color: black;    
}
a {
  color: black; 
  font-family: 'Oswald', sans-serif;  
  text-decoration: none;  
  outline-style: none;
}
a:hover {
  color: #ffffff; 
  text-decoration: none;    
}
#container {
  position: relative;
}
#container h1 {
  float: left;
  margin-top: 1.2em;
}
nav {
  font-size: 2em;
  text-align: right;
}
nav a {
  color: black;
  padding: 1.2em;
  display: inline-block;
  text-align: right;
  position: relative;
  overflow: hidden;
}
nav a:hover {
  color: #BE1E2D; 
  text-decoration: none; 
}
nav a:active {
  color: #ccc;
}
nav li {
  margin-top: .6em;
  display: inline-block;
  text-transform: uppercase;
}
.navbar-default {
  background-color: white; 
}
.navbar-brand {
  height: 5em;
}
#home {
  font-family: 'Oswald', sans-serif;
  font-size: 5em;
  height: 12em;
}
.welcome{
  background-color: rgba(190, 30, 45, .7);
  padding: 20px 20px 0 20px;
  margin-top: 280px;
}
.welcome h1 {
  font-size: 60px;
  color: white;
}
.cherub{
  float:right;
  max-width: 500px;
}
#about {
  width: 100%;
  float: left;
  height: 72em;
  clear: left;
  background-color: rgba(190, 30, 45, 1);
}
#about h1 {
  color: white;
  font-size: 6em;
  margin-left: 1.2em;
  margin-top: 1.2em;
}
#about ol {
  padding-left: 5em;
  padding-top: 1em;
  color: white;
  font-size: 3em;
  clear: left;
  list-style: decimal-leading-zero;
  line-height: 1.2em;
  width: 65%;
  max-width: 500px!important;
  min-width: 500px!important;
}
.me {
  float: right;
  margin-right: -1.5em;
}
.me img{
  width: 96%;
  margin-top: -7.2em;
  float: right;
}
.navbar-toggle {
  background-color: white;
}
.navbar-toggle:active {
  background-color: white;
}
.btn {
  margin-top: 25px;
}
.well {
  text-align: center;
}
.well ul{
  width: 20%;
  margin: auto;
  padding: 0px;
}
.well li {
  padding: 0px;
}
.well a {
  padding: 10px;
  display: block;
  position: relative;
}
.well a:hover {
  color: #BE1E2D; 
  text-decoration: none;
}
#work {
  width: 100%;
  height: 72em;
  background-color: #8a8a8a; 
}

article {margin:0;padding:0;position:absolute;top:1em;width:80%;}
    article.visible {top:0;}

article.work-gallery {background:#8a8a8a;padding:0;z-index:40;}
    article.visible.work-gallery {z-index:100;}
    article.visible.work-gallery ul {position:absolute;top:1em;}
    .work-gallery ul {float:left;margin:0;padding:0;}
    .work-gallery li {width:42%;float:left;margin:0px 0 0 0;}
        .work-gallery li:nth-child(n) {margin-right:0;width:42%}
        .work-gallery li:nth-child(2n+1) {margin-right:0;width:42%;}
    .work-gallery img {width:100%;float:left;height:auto;}

#contact {
  width: 100%;
  float: right;
  height: 72em;
  background-color: white; 
}
#contact h1 {
  color: rgba(190, 30, 45, 1);
  font-size: 4em;
  margin-left: 4em;
  margin-top: 4em;
}
#contact h1 a {
  color: #BE1E2D;
}
#contact h1 a:hover {
  color: black;
}
.carousel-inner {
  height: 72em;
}
form {
  background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
  background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  width: 50%;
  overflow: hidden;
  position: relative;
  z-index: 100;
  margin: auto;
  padding-top: 10em;
  text-align: center;
  line-height: 2em;
}
form h2 {
  line-height: 2em;
  padding-left: 4em;
  text-align: left;
}
input {
  width: 40em;
}
.message {
  height: 20em;
  width: 40em;
}
.submit {
  margin-top: 2em;
}
.submit:hover {
  color: #BE1E2D;
}
.split {
  position: absolute;
  z-index: 1;
  width: 90%;
}
.split img {
  width: 108.2%;
  margin-top: -10em;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 1em auto -4em;
  text-align: center;
  width: 30em;
}
.wrapper a {
  color: black;
  position: relative;
  padding: .4em;
  font-size: 4em;
  z-index: 200;
}
.wrapper a:hover {
  color: #BE1E2D; 
  text-decoration: none; 
}
.wrapper a:active {
  color: #ccc;
}
.wrapper li {
  margin-top: 1.5em;
  display: inline-block;
}
.footer, .push {
  text-align: center;
  font-size: 2em;
  padding: 1em;
  color: white;
  height: 4em;
  background-color: black;
}