@charset "utf-8";

/*
* Note : Css styles reset
*/

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Note: for chrome better ff display */

.chrome body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 1px transparent;
  -webkit-text-stroke-width: 0.6px;
}

/* Main CSS */

html, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    vertical-align: baseline;
}
body {
  padding-top: 70px;
  background: url("../images/homeBG.png") no-repeat;
  font-family: 'Oswald', sans-serif; 
  font-size: 16px;
  color: black;    
}
a {
  color: black; 
  font-family: 'Oswald', sans-serif;  
  text-decoration: none;  
  outline-style: none;
}
a:hover {
  color: #ffffff; 
  text-decoration: none;    
}
#about {
  width: 100%;
}
#container {
  position: relative;
}
#container h1 {
  float: left;
  margin-top: 20px;
}
.greetings {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
}
nav {
  font-size: 20px;
  display: inline-block;
  text-align: right;
}
nav a {
  color: black;
  padding: 20px;
  display: inline-block;
  text-align: right;
  position: relative;
  overflow: hidden;
}
nav a:hover {
  color: #BE1E2D; 
  text-decoration: none; 
}
nav a:active {
  color: #ccc;
}
nav li {
  margin-top: 10px;
  display: inline-block;
  text-transform: uppercase;
}
.navbar-default {
  background-color: white; 
}
.navbar-brand {
  height: 80px;
}
#home {
  float: right;
  font-family: 'Oswald', sans-serif;
  font-size: 80px;
  background-color: transparent;
  height: 640px;
  width: 100%; 
}
#home h1 {
  margin-top: 250px;
  padding-top: 45px;
  padding-left: 673px;
  background-color: rgba(190, 30, 45, .7);
  font-size: 60px;
  color: white;
  width: 100%;
  height: 180px;
}
#about {
  width: 100%;
  float: left;
  height: 726px;
  clear: left;
  background-color: rgba(190, 30, 45, 1);
}
#about h1 {
  color: white;
  font-size: 70px;
  margin-left: 60px;
  margin-top: 60px;
}
#about ol {
  padding-left: 150px;
  padding-top: 30px;
  color: white;
  font-size: 30px;
  clear: left;
  list-style: decimal-leading-zero;
  line-height: 36px;
  width: 65%;
}
.me {
  float: right;
  margin-right: -14px;
}
.me img{
  width: 96%;
  margin-top: -60px;
  float: right;
}
#work {
  width: 100%;
  height: 726px;
  background-color: #8a8a8a; 
}

article {margin:0;padding:0;position:absolute;top:15px;width:80%;}
    article.visible {top:0;}

article.work-gallery {background:#8a8a8a;padding:0;z-index:40;}
    article.visible.work-gallery {z-index:100;}
    article.visible.work-gallery ul {position:absolute;top:10px;}
    .work-gallery ul {float:left;margin:0;padding:0;}
    .work-gallery li {width:42%;float:left;margin:0px 0 0 0;}
        .work-gallery li:nth-child(n) {margin-right:0;width:42%}
        .work-gallery li:nth-child(2n+1) {margin-right:0;width:42%;}
    .work-gallery img {width:100%;float:left;height:auto;}

#contact {
  width: 100%;
  float: right;
  height: 726px;
  background-color: white; 
}
#contact h1 {
  color: rgba(190, 30, 45, 1);
  font-size: 70px;
  margin-left: 60px;
  margin-top: 60px;
}
#contact h1 a {
  color: #BE1E2D;
}
#contact h1 a:hover {
  color: black;
}
.carousel-inner {
  height: 726px;
}
.carousel-inner h1 {
  z-index: 200;
  position: relative;
  float: right;
  font-size: 50px;
  color: white;
  text-align: right;
}
form {
  background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
  background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  width: 50%;
  overflow: hidden;
  position: relative;
  z-index: 100;
  margin: auto;
  padding-top: 100px;
  text-align: center;
  line-height: 20px;
}
form h2 {
  line-height: 60px;
  padding-left: 2em;
  text-align: left;
}
input {
  width: 30em;
}
.message {
  height: 200px;
  width: 30em;
}
.submit {
  margin-top: 20px;
}
.submit:hover {
  color: #BE1E2D;
}
.split {
  position: absolute;
  z-index: 1;
  width: 90%;
}
.split img {
  width: 108.2%;
  margin-top: -100px;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 1em auto -4em;
  text-align: center;
  width: 30em;
}
.wrapper a {
  color: black;
  position: relative;
  padding: 20px;
  font-size: 4em;
  z-index: 200;
}
.wrapper a:hover {
  color: #BE1E2D; 
  text-decoration: none; 
}
.wrapper a:active {
  color: #ccc;
}
.wrapper li {
  margin-top: 20px;
  display: inline-block;
}
.footer, .push {
  text-align: center;
  font-size: 20px;
  padding: 20px;
  color: white;
  height: 4em;
  background-color: black;
}