@media (max-width: 767px){
	.main-nav {
		display: none;
	}
	.intro {
		font-size: 28px!important;
		min-width: 200px!important;
		max-width: 200px!important;
	}
	.cherub {
		float: left!important;
	}

}