/*MAIN*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html {
    background-color: #c0392b;
    font-family: 'Rubik', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

header {
    background-position: center;
    background-size: cover;
    height: 100vh;
}

a {
    text-decoration: none;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.row {
    margin: 0 auto;
    max-width: 1140px;
}

section {
    padding: 80px 0;
}


/* FONTS */

h1 {
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-size: 400%;
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 0px;
    margin-top: 0;
    word-spacing: 4px;
}

h2,
.typed {
    color: #2c3e50;
    font-size: 250%;
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: lowercase;
    word-spacing: 2px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    text-align: center;
}

.intro-text {
    color: white;
    line-height: 1.5;
    margin-top: 30px;
}

.long-copy {
    line-height: 145%;
    margin-left: 15%;
    width: 70%;
}

p {
    color: #2c3e50;
    text-align: center;
    margin-top: 20px;
}


/* NAVIGATION */

.icon-nav {
    color: #fff;
    vertical-align: middle;
    display: block;
    font-size: 120%;
    transform: scale(1.0);
    transition: color 0.5s, transform 0.5s;
}

.icon-nav:hover,
.icon-nav:active {
    color: #2c3e50;
    transform: scale(1.2);
    transition: color 0.5s, transform 0.5s;
}

.logo {
    float: left;
    height: 100px;
    margin-top: 20px;
    width: auto;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 30px;
    letter-spacing: 2px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    font-size: 90%;
    padding: 4px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active {
    color: #2c3e50;
    font-weight: 900;
    transition: color 0.5s;
}

/*MOBILE NAVIGATION*/

.mobile-nav-icon {
    cursor: pointer;
    display: none;
    float: right;
    margin-top: 30px;
}

.mobile-nav-icon i {
    color: white;
    font-size: 200%;
}


/*STICKY NAVIGATION*/

.sticky {
    background-color: #c0392b;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9000;
}

.sticky .logo {
    float: left;
    height: 50px;
    margin: 5px 0;
    width: auto;
}

.sticky .icon-nav {
    color: white;
    vertical-align: middle;
    display: block;
    font-size: 120%;
    transform: scale(1.0);
    transition: color 0.5s, transform 0.5s;
}

.sticky .icon-nav:hover,
.sticky .icon-nav:active {
    color: #2c3e50;
    transform: scale(1.2);
    transition: color 0.5s, transform 0.5s;
}

.sticky .main-nav {
    margin-top: 15px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    color: white;
    font-size: 90%;
    font-weight: 600;
    padding: 15px 0;
    text-transform: uppercase;
    transform: scale(1.2);
    transition: color 0.5s, transform 0.5s;
}

.sticky .main-nav li a:hover,
.sticky .main-nav li a:active {
    color: #2c3e50;
    font-weight: 900;
    transition: color 0.5s;
}

.sticky .mobile-nav-icon {
    float: right;
    margin: 5px 20px;
    width: auto;
}



/* HOME PAGE */

.hero-text-box {
    left: 50%;
    line-height: 60px;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1140px;
    z-index: -1;
}


/* ABOUT PAGE */

#about {
    background-color: #ecf0f1;
    height: 100vh;
}

.skills {
    margin-top: 80px;
}

.box {
    padding: 1%;
}

.box h3 {
    color: #c0392b;
    font-family: 'Abril Fatface', cursive;
    font-size: 160%;
    font-weight: 400;
    text-transform: lowercase;
}

.box p {
    font-size: 100%;
    line-height: 1.2;
    text-align: left;
}

.icon-big {
    color: #c0392b;
    display: block;
    font-size: 400%;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
}

.button {
    -webkit-transition-duration: 0.4s;
    background: none;
    border: 3px solid #c0392b;
    border-radius: 4px;
    color: #c0392b;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 1px;
    margin: auto auto;
    margin-top: 24px;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition-duration: 0.4s;
}

#white {
    border: 3px solid white;
    color: white;
}

#white:hover {
    background-color: white;
    color: #2c3e50;
}

.button:hover {
    background-color: #c0392b;
    color: #ecf0f1;
}



/* WORK PAGE */

.grid {
    list-style: none;
    margin: 0 auto;
    max-width: 1920px;
    padding: 1em 0 4em;
    position: relative;
    text-align: center;
    width: 100%;
}

/* Common style */

.grid figure {
    color: #2c3e50;
    cursor: pointer;
    float: left;
    margin: 10px 1%;
    max-height: 360px;
    max-width: 22.8%;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.grid figure figcaption {
    color: #2c3e50;
    font-size: 100%;
    margin: auto;
    padding: 0;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
}

.grid figure figcaption img {
    float: none;
    margin: auto auto;
    padding: 0;
    opacity: 1;
    transform: scale(.5);
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */

/* For some effects it will show as a button */

.grid figure h2,
.grid figure h1 {
    margin: auto auto;
    color: #2c3e50;
}

.grid figure h1 {
    color: #2c3e50;
    letter-spacing: 1px;
    font-size: 80%;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 65%;
}

figure.thumbnail-effect img {
    opacity: 0.3;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figcaption img {
    opacity: 1;
}

figure.thumbnail-effect:hover img {
    opacity: 1;
}

figure.thumbnail-effect:hover figcaption img {
    opacity: 0;
}

figure.thumbnail-effect figcaption::before,
figure.thumbnail-effect figcaption::after {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    content: '';
    opacity: 1;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.thumbnail-effect figcaption::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

figure.thumbnail-effect figcaption::after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
}

figure.thumbnail-effect h1 {
    padding: 20px 2.5em;
    opacity: 1;
    color: white;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
    width: 100%;
}

figure.thumbnail-effect:hover figcaption::before,
figure.thumbnail-effect:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.thumbnail-effect:hover h2,
figure.thumbnail-effect:hover h1 {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
}

#thumbnail-text {
    color: white;
}

.first {
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    text-transform: lowercase
}

.second {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: none;
}

.third {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.fourth {
    font-family: 'Arial', sans-serif;
    text-transform: none;
    font-weight: 400;
}

#work {
    background-color: #2c3e50;
    height: 100vh;
}

#work h2,
#work-description {
    color: #ecf0f1;
}


/* CONTACT PAGE */

#contact {
    background-color: #c0392b;
    height: 100vh;
}

#contact h2,
#contact p {
    color: #ecf0f1;
}


/* CONTACT FORM */

.form-container {
    margin: 0 auto;
    max-width: 400px;
    position: relative;
    width: 100%;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea,
#contact-form button[type="submit"] {
    font: 400 12px/16px "Montserrat", Helvetica, Arial, sans-serif;
}

#contact-form {
    background: #ecf0f1;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    font-family: 'Montserrat', sans-serif;
    margin: 150px 0;
    padding: 25px;
}

#contact-form h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

#contact-form h4 {
    display: block;
    font-size: 13px;
    font-weight: 400;
    margin: 5px 0 15px;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {
    background: #FFF;
    border: 1px solid #ccc;
    margin: 0 0 5px;
    padding: 10px;
    width: 100%;
}

#contact-form input[type="text"]:hover,
#contact-form input[type="email"]:hover,
#contact-form input[type="tel"]:hover,
#contact-form input[type="url"]:hover,
#contact-form textarea:hover {
    -moz-transition: border-color 0.3s ease-in-out;
    -webkit-transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
    transition: border-color 0.3s ease-in-out;
}

#contact-form textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact-form input[type="submit"] {
    background: #2c3e50;
    border: none;
    color: #ecf0f1;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    margin: 0 0 5px;
    padding: 10px;
    text-transform: uppercase;
    width: 100%;
}

#contact-form input[type="submit"]:hover {
    background: #c0392b;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact-form input[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact-form input:focus,
#contact-form textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}


/* CASE STUDIES */

.case-points {
    margin-top: 100px;
    width: 100%;
}

.case-points i {
    color: white;
    font-size: 800%;
}

.case-study {
    width: 40%;
}

.case-study2 {
    background-color: #8e44ad;
    height: 100vh;
    width: 100%;
}

.case-study3 {
    background-color: #f69182;
    height: 100vh;
    width: 100%;
}

.case-study4 {
    background-color: #488ea4;
    height: 100vh;
    width: 100%;
}

.first-image {
    width: 100%;
}

.first-description {
    margin-top: 520px;
    width: 60%;
}

#mg-yoga {
    width: 40%;
}

#mg-yoga h1 {
    font-family: 'Montserrat', sans-serif;
}

#upstate {
    width: 40%;
}

#upstate h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 300%;
    font-weight: 700;
    letter-spacing: 6px;
    text-transform: uppercase;
}

#ivfcloud {
    left: 50%;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    z-index: 1;
}

#ivfcloud h1 {
    font-family: 'Arial', sans-serif;
    font-size: 300%;
    font-weight: 700;
}

.purp {
    background-color: #8e44ad;
}

#purp {
    color: #8e44ad;
    font-family: 'Montserrat', sans-serif;
}

.pink {
    background-color: #f69182;
}

#pink {
    color: #f69182;
    font-family: 'Open Sans', sans-serif;
}

.blue {
    background-color: #488ea4;
}

#blue {
    color: #488ea4;
    font-family: 'Arial', sans-serif;
}

.mockup {
    position: absolute;
    top: 80%;
    width: 60%;
}
