/*MAIN*/

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;

       -moz-font-smoothing: antialiased;
         -o-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html {
    font-family: "Rubik", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;

    background-color: #c0392b;

    text-rendering: optimizeLegibility;
}

header {
    height: 100vh;

    background-position: center;
    background-size: cover;
}

a {
    text-decoration: none;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;

    content: ".";
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}


/* FONTS */

h1 {
    font-family: "Rubik", sans-serif;
    font-weight: 900;

    letter-spacing: 1px;
    word-spacing: 4px;

    color: #fff;
}

h2,
.typed {
    margin-bottom: 20px;

    font-family: "Abril Fatface", cursive;
    font-size: 250%;
    font-weight: 400;

    text-align: center;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-transform: lowercase;

    color: #2c3e50;
}

.intro-text {
    margin-top: 30px;

    line-height: 1.5;

    color: white;
}

.long-copy {
    width: 70%;
    margin-left: 15%;

    line-height: 145%;
}

p {
    margin-top: 20px;

    font-size: 18px;

    text-align: center;

    color: #2c3e50;
}


/* NAVIGATION */

.icon-nav {
    display: block;

    font-size: 150%;

    transition: color .25s, transform .25s;
    vertical-align: middle;

    color: #fff;
}

.icon-nav:hover,
.icon-nav:active {
    transition: color .25s, transform .25s;

    color: #2c3e50;
}

.logo {
    float: left;
    width: auto;
    height: 100px;
    margin-top: 40px;
}

.main-nav {
    float: right;
    margin-top: 55px;

    list-style: none;
}

.main-nav li {
    display: inline-block;
    margin-left: 30px;

    font-family: "Rubik", sans-serif;

    letter-spacing: 2px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 4px 0;

    font-size: 120%;

    transition: color .5s;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
}

.main-nav li a:hover,
.main-nav li a:active {
    transition: color .5s;
    transform-origin: center;

    color: #2c3e50;

    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}


/*MOBILE NAVIGATION*/

.mobile-nav-icon {
    display: none;
    float: left;
    margin-top: 50px;

    cursor: pointer;
}

.mobile-nav-icon i {
    font-size: 400%;

    color: white;
}


/*STICKY NAVIGATION*/

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;

    width: 100%;
    height: auto;

    background-color: rgba(192, 57, 43, 1) !important;
}

.sticky .logo {
    float: left;
    width: auto;
    height: 50px;
    margin: 20px 0;
}

.sticky .icon-nav {
    display: block;

    font-size: 120%;

    transition: color .5s, transform .5s;
    transform: scale(1.0);
    vertical-align: middle;

    color: white;
}

.sticky .icon-nav:hover,
.sticky .icon-nav:active {
    transition: color .5s, transform .5s;

    color: #2c3e50;
}

.sticky .main-nav {
    margin-top: 0;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 15px 0;

    font-size: 90%;
    font-weight: 600;

    transition: color .5s, transform .5s;
    transform: scale(1.2);
    text-transform: uppercase;

    color: white;
}

.sticky .main-nav li a:hover,
.sticky .main-nav li a:active {
    transition: color .5s;

    color: #2c3e50;
}

.sticky .mobile-nav-icon {
    float: right;
    width: auto;
    margin: 5px 20px;
}


/* HOME PAGE */

/*----------------------- Preloader -----------------------*/
body.preloader-site {
    overflow: hidden;
}

.preloader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;

    width: 100%;
    height: 100%;

    background: #fff;
}

.preloader-wrapper .preloader {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 120px;

    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.hero-text-box {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -1;

    width: 100%;

    line-height: 60px;

    transform: translate(-50%, -50%);
    text-align: center;
}


/* ABOUT PAGE */

.aboutMain {
    display: flex;
    flex-direction: column;

    align-items: center;
}

#about {
    height: auto;
    min-height: 100vh;

    background-color: #ecf0f1;
}

.box {
    padding: 1%;
}

h3 {
    margin-bottom: 15px;

    font-family: "Abril Fatface", cursive;
    font-size: 160%;
    font-weight: 400;

    text-align: center;
    text-transform: lowercase;

    color: #c0392b;
}

.case-study h3 {
    font-family: "Rubik", sans-serif;
    font-size: 140%;

    text-transform: none;
}

.box p {
    font-size: 100%;
    line-height: 1.2;

    text-align: left;
}

.icon-big {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;

    font-size: 400%;

    text-align: center;

    color: #c0392b;
}

.button {
    padding: 14px 32px;
    margin: auto auto;
    margin-top: 24px;

    font-family: "Rubik", sans-serif;
    font-size: 18px;

    cursor: pointer;
    -webkit-transition-duration: .4s;
            transition-duration: .4s;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #c0392b;
    border: 3px solid #c0392b;
    border-radius: 4px;
    background: none;
}

#white {
    color: white;
    border: 3px solid white;
}

#white:hover {
    color: #2c3e50;
    background-color: white;
}

.button:hover {
    color: #ecf0f1;
    background-color: #c0392b;
}


/* WORK PAGE */

.grid {
    position: relative;

    width: 100%;
    max-width: 1300px;
    padding: 1em 0 4em;
    margin: 0 auto;

    list-style: none;

    text-align: center;
}


/* Common style */

.grid figure {
    position: relative;

    float: left;
    max-width: 22.8%;
    max-height: 360px;
    margin: 10px 1%;
    overflow: hidden;

    cursor: pointer;
    text-align: center;

    color: #2c3e50;
}

.grid figure img {
    position: relative;

    display: block;
    max-width: 100%;
    min-height: 100%;

    opacity: .8;
}

.grid figure figcaption {
    position: absolute;

    width: 100%;
    padding: 0;
    margin: auto;

    font-size: 100%;

    text-transform: uppercase;

    color: #2c3e50;
}

.grid figure figcaption img {
    float: none;
    padding: 0;
    margin: auto auto;

    transform: scale(.5);

    opacity: 1;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;
}


/* Anchor will cover the whole item by default */


/* For some effects it will show as a button */

.grid figure h2,
.grid figure h1 {
    margin: auto auto;

    color: #2c3e50;
}

.grid figure h1 {
    position: absolute;
    top: 65%;

    padding: 0;

    font-size: 80%;

    text-align: center;
    letter-spacing: 1px;

    color: #2c3e50;
}

figure.thumbnail-effect img {
    -webkit-transition: opacity .35s;
            transition: opacity .35s;

    opacity: .3;
}

figcaption img {
    opacity: 1;
}

figure.thumbnail-effect:hover img {
    opacity: 1;
}

figure.thumbnail-effect:hover figcaption img {
    opacity: 0;
}

figure.thumbnail-effect figcaption::before,
figure.thumbnail-effect figcaption::after {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;

    content: "";
    -webkit-transition: opacity .35s, -webkit-transform .35s;
            transition: opacity .35s, transform .35s;

    opacity: 1;
}

figure.thumbnail-effect figcaption::before {
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);

    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

figure.thumbnail-effect figcaption::after {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);

    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

figure.thumbnail-effect h1 {
    width: 100%;
    padding: 20px 2.5em;

    -webkit-transition: opacity .35s, -webkit-transform .35s;
            transition: opacity .35s, transform .35s;
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0);

    opacity: 1;
    color: white;
}

figure.thumbnail-effect:hover figcaption::before,
figure.thumbnail-effect:hover figcaption::after {
    -webkit-transform: scale(1);
            transform: scale(1);

    opacity: 1;
}

figure.thumbnail-effect:hover h2,
figure.thumbnail-effect:hover h1 {
    -webkit-transform: translate3d(0, 40px, 0);
            transform: translate3d(0, 40px, 0);

    opacity: 0;
}

#thumbnail-text {
    color: white;
}

.first {
    font-family: "Rubik", sans-serif;
    font-weight: 900;

    text-transform: lowercase;
}

.second {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;

    text-transform: none;
}

.third {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.fourth {
    font-family: "Arial", sans-serif;
    font-weight: 400;

    text-transform: none;
}

#work {
    height: auto;
    min-height: 100vh;

    background-color: #2c3e50;
}

#work h2,
#workSub {
    color: #ecf0f1;
}


/* CONTACT PAGE */

#contact {
    height: auto;
    min-height: 100vh;

    background-color: #c0392b;
}

#contact h2,
#contact p {
    color: #ecf0f1;
}


/* CONTACT FORM */

.form-container {
    position: relative;

    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea,
#contact-form button[type="submit"] {
    font: 400 12px/16px "Montserrat", Helvetica, Arial, sans-serif;
}

#contact-form {
    padding: 25px;
    margin: 150px 0;

    font-family: "Montserrat", sans-serif;

    background: #ecf0f1;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2), 0 5px 5px 0 rgba(0, 0, 0, .24);
}

#contact-form h3 {
    display: block;
    margin-bottom: 10px;

    font-size: 30px;
    font-weight: 300;
}

#contact-form h4 {
    display: block;
    margin: 5px 0 15px;

    font-size: 13px;
    font-weight: 400;
}

fieldset {
    width: 100%;
    min-width: 100%;
    padding: 0;
    margin: 0 0 10px;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {
    padding: 10px 0;
}

#contact-form input[type="text"]:hover,
#contact-form input[type="email"]:hover,
#contact-form input[type="tel"]:hover,
#contact-form input[type="url"]:hover,
#contact-form textarea:hover {
    -webkit-transition: border-color .3s ease-in-out;
       -moz-transition: border-color .3s ease-in-out;
            transition: border-color .3s ease-in-out;

    border-bottom: 1px solid #c0392b;
}

#contact-form textarea {
    padding-left: 0;
    margin-bottom: 40px;
    box-sizing: initial;

    border-top: none;
    border-right: none;
    border-bottom: 1px solid #000;
    border-left: none;
}

#contact-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 0 0 5px;

    font-family: "Montserrat", sans-serif;
    font-size: 15px;

    cursor: pointer;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #ecf0f1;
    border: none;
    background: #2c3e50;
}

#contact-form input[type="submit"]:hover {
    -webkit-transition: background .3s ease-in-out;
       -moz-transition: background .3s ease-in-out;
            transition: background-color .3s ease-in-out;

    background: #c0392b;
}

#contact-form input[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .5);
}

#contact-form input:focus,
#contact-form textarea:focus {
    border-bottom: 1px solid #c0392b;
    outline: none;
    box-shadow: none;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}


/* CASE STUDIES */

.case-points {
    width: 100%;
    margin-top: 100px;
}

.case-points i {
    font-size: 800%;

    color: white;
}

.case-study {
    width: 40%;
}

.case-study2 {
    width: 100%;
    height: 100vh;

    background-color: #8e44ad;
}

.case-study3 {
    width: 100%;
    height: 100vh;

    background-color: #f69182;
}

.case-study4 {
    width: 100%;
    height: 100vh;

    background-color: #488ea4;
}

.first-image {
    width: 100%;
}

.first-description {
    width: 60%;
    margin-top: 520px;
}

#mg-yoga {
    width: 40%;
}

#mg-yoga h1 {
    font-family: "Montserrat", sans-serif;
}

#upstate {
    width: 40%;
}

#upstate h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 300%;
    font-weight: 700;

    letter-spacing: 6px;
    text-transform: uppercase;
}

#ivfcloud {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;

    width: 40%;

    transform: translate(-50%, -50%);
    text-align: center;
}

#ivfcloud h1 {
    font-family: "Arial", sans-serif;
    font-size: 300%;
    font-weight: 700;
}

.purp {
    background-color: #8e44ad;
}

#purp {
    font-family: "Montserrat", sans-serif;

    color: #8e44ad;
}

.pink {
    background-color: #f69182;
}

#pink {
    font-family: "Open Sans", sans-serif;

    color: #f69182;
}

.blue {
    background-color: #488ea4;
}

#blue {
    font-family: "Arial", sans-serif;

    color: #488ea4;
}

.mockup {
    position: absolute;
    top: 80%;

    width: 60%;
}
